$orange-color: rgb(238, 144, 53);

html {
  font-family: Helvetica;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0px;
}

.container{
  padding-left: 15%;
  padding-right: 15%;
}

.subtitle {
  color: $orange-color;
}

.nav{
  transition-duration: 300ms;
  &:hover {
    color: $orange-color;
  }
}

.blog-title {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
